<%- include("header"); -%>

<div class="box" id="heading">
    <h1>About Page</h1>
</div>
<div class="box">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ipsa cumque
      sapiente, rem exercitationem sint eligendi. Odio quos a nulla quam voluptatum
      eum repellendus sequi harum necessitatibus adipisci molestias error placeat
      cum dolores qui officiis possimus earum reiciendis, optio, delectus eius vero
      laboriosam. Doloribus sed rem atque, reiciendis fugiat iure.
    </p>
</div>

<%- include("footer"); -%>
